{{ header }}
<div id="common-home" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}</div>
    {{ column_right }}
	
	
	
	
	
	<div class="all-sletter" >
		<div class="text-sletter">Щоб дізнаватися першими про новинки, акції та найкращі пропозиції, підпишіться на нашу розсилку

</div>
		<div class="form-sletter">
			<form action="" type="post" id="sletter">
				<input type="mail" name="sl-mail" id="sl-mail" class="sl-mail" placeholder="ПОШТА" />
				<button class="sl-btn">відправити</button>
			</form>
		
		</div>
	
	
	</div>
	
	
	{{ content_bottom }}
	

	</div>
</div>
{{ footer }}