{{ header }}
<div id="common-home" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}{{ content_bottom }}</div>
    {{ column_right }}</div>
	
	<div class="all-sletter" >
		<div class="text-sletter">Щоб дізнаватися першими про новинки, акції та найкращі пропозиції, підпишіться на нашу розсилку

</div>
		<div class="form-sletter">
			<form action="" type="post" id="sletter">
				<input type="mail" name="sl-mail" id="sl-mail" class="sl-mail" placeholder="ПОШТА" />
				<button class="sl-btn">відправити</button>
			</form>
		
		</div>
	
	
	</div>
	
	
	<div class="about-home">
	<h3>Чому обирають нас?</h3>
	
		<div class="all-perfer">
			<div class="item-perfer">
				<div class="img-perfer"><img src="image/icon/icon_a_1.svg" alt="" title="" /></div>
				<div class="text-perfer">
				19 років<br /> на рінку Украіїни
				</div>
			
			</div>
			<div class="item-perfer">
				<div class="img-perfer"><img src="image/icon/icon_a_2.svg" alt="" title="" /></div>
				<div class="text-perfer">Офіцийна гарантия на всі товари</div>
			
			</div>
			<div class="item-perfer">
				<div class="img-perfer"><img src="image/icon/icon_a_3.svg" alt="" title="" /></div>
				<div class="text-perfer">Більш, чим 52 000 товарів та 375 брендів</div>
			
			</div>
			<div class="item-perfer">
				<div class="img-perfer"><img src="image/icon/icon_a_4.svg" alt="" title="" /></div>
				<div class="text-perfer">Професійні консультації під час вибору</div>
			
			</div>
			<div class="item-perfer">
				<div class="img-perfer"><img src="image/icon/icon_a_5.svg" alt="" title="" /></div>
				<div class="text-perfer">Розширений вибір рок атрибутики</div>
			
			</div>
			<div class="item-perfer">
				<div class="img-perfer"><img src="image/icon/icon_a_6.svg" alt="" title="" /></div>
				<div class="text-perfer">Безкоштовна доставка від 5000 грн</div>
			
			</div>
		
		
		</div>
	
	
		<p>Ми доставляємо музичні інструменти та аксесуари в усі населені пункти України (Київ, Харків, Одеса, Дніпро, Донецьк, Запоріжжя, Львів, Кривий Ріг, Миколаїв, Маріуполь, Луганськ, Вінниця, Херсон, Чернігів, Полтава, Черкаси, Хмельницький, Чернівці, Житомир, Суми, Рівне, Івано-Франківськ, Кам'янське, Кропивницький, Тернопіль, Кременчук, Луцьк, Біла Церква, Краматорськ, Мелітополь, Ужгород, Бердянськ, Нікополь та ін.)</p>
	
		<h3>Знайдіть свою 8-му ноту в світі музики</h3>
		<p>Магазин музичних інструментів «8 Нота» відчинив свої двері 7 серпня 2005 року і відразу ж «увірвався» на музичний ринок Львова.
За ці роки ми завоювали довіру своїх клієнтів, набули друзів, побудували міцні відносини з діловими партнерами. В нас працюють продавцями–консультантами діючі львівські музиканти. Намагаємось бути кращими у всьому: дисконтна система для клієнтів, новинки, знижки, акції, майстер-класи. Залишаємось відкритими для всіх і щодня!
Нашими клієнтами є музиканти відомих українських гуртів: Брати Гадюкини, Рімейк, Каділак, Free Breath, Рокаш, Барви блюзу, Власний простір, Ірій, Glory Box, Niagara, Black Jack та багато інших. Ми надамо кваліфіковану допомогу у виборі музичного інструмента. Завітайте до нас і знайдіть свою 8-му ноту в світі музики!</p>
	
	
	</div>
	
	
</div>
{{ footer }}